.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: 5;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  max-height: 200px;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background: none;
    margin: 5px 0;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
}
.item {
  padding: 10px 20px;
}

.readonly {
  pointer-events: none;
}
