.app_dark_theme {
    --bg-color: #050864;
    --inverted-bg-color: #f5f5f5;


    --primary-color: #0abe0a;
    --secondary-color: #18ff18;
    --inverted-primary-color: #0d67ce;
    --inverted-secondary-color:  #290caa;
}
