.app.light {
    --bg-color: #f5f5f5;
    --inverted-bg-color: #050864;


    --primary-color: #290caa;
    --secondary-color: #0d67ce;
    --inverted-primary-color: #18ff18;
    --inverted-secondary-color:  #0abe0a;
}