.Card {
  padding: 24px;
  border-radius: 12px;
  // background: var(--card-bg);
}

.withoutPaddings {
  padding: 0;
}

.outlined {
  background: none;
  border: 1px solid var(--accent-redesigned);
}

.light {
  background: var(--light-bg-redesigned);

}

.normal {
  background: var(--dark-bg-redesigned);
}

.max {
  width: 100%;
}

.gap_0 {
  padding: 0;
}

.gap_8 {
  padding: 8px;
}

.gap_16 {
  padding: 16px;
}

.gap_24 {
  padding: 24px;
}
