.Card {
  padding: 15px;
  border-radius: 12px;
  background: var(--card-bg);
}

.outlined {
  background: none;
  border: 1px solid var(--primary-color);
}

.normal {
  background: var(--card-bg);
}

.max {
  width: 100%;
}